<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123744625570-7k4mtvbq845p8fvm1qtcob5d87pu23en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123744625570-7k4mtvbq845p8fvm1qtcob5d87pu23en</string>
	<key>API_KEY</key>
	<string>AIzaSyA-XU8of08aTZFws6J022aoy09uUaCoWWU</string>
	<key>GCM_SENDER_ID</key>
	<string>123744625570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newFoodDelivery</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-app-99354</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-app-99354.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123744625570:ios:1ddfbae8f975f730f8c8fb</string>
</dict>
</plist>